<div style="font-family: Product;"><span style="color: #4285f4">L</span><span style="color: #ea4335">Z</span><span style="color: #fbbc05">M</span><span style="color: #4285f4">U</span><span style="color: #34a853">N</span><span style="color: #ea4335">C</span>
<span style="color: #757575">2019</span></div>