<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-col-xs-offset
                    mdui-col-sm-1
                    mdui-col-md-2
                    mdui-col-lg-2"></div>
        <div class="mdui-col-xs-12
                    mdui-col-sm-10
                    mdui-col-md-8
                    mdui-col-lg-8">
            <div>
                    <div class="padding"></div>
                <div class="padding"></div>
                <div class="mdui-card opacity">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title mdui-text-center">中文委员会</div>
                        <div class="mdui-card-primary-subtitle mdui-text-center">Chinese Conf</div>
                    </div>
                    <div class="mdui-row-xs-1">
                        <div class="mdui-col">
                            <a href="/2019/05/07/2019-01-UNSC/" class="mdui-btn mdui-btn-block mdui-ripple">中文会场 01 联合国安全理事会</a>
                        </div>
                        <div class="mdui-col">
                            <a href="/2019/05/07/2019-02-UNSC/" class="mdui-btn mdui-btn-block mdui-ripple">中文会场 02 历史安理会</a>
                        </div>
                        <div class="mdui-col">
                            <a href="/2019/05/07/2019-03/" class="mdui-btn mdui-btn-block mdui-ripple">中文会场 03 1940大韩民国临时政府议政院会议</a>
                        </div>
                        <div class="mdui-col">
                            <a href="/2019/05/07/2019-04/" class="mdui-btn mdui-btn-block mdui-ripple">中文会场 04 民国国会</a>
                        </div>
                        <div class="mdui-col">
                            <a href="/2019/05/07/2019-05-MPC/" class="mdui-btn mdui-btn-block mdui-ripple">中文会场 05 主新闻中心</a>
                        </div>
                        <div class="mdui-col">
                            <a href="/2019/05/07/2019-06-UNOOSA/" class="mdui-btn mdui-btn-block mdui-ripple">英文会场 06 联合国和平利用外层空间委员会</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>