<div class="mdui-container">
    <div class="mdui-row">
        <div class="mdui-col-xs-offset
                    mdui-col-sm-1
                    mdui-col-md-2
                    mdui-col-lg-2"></div>
        <div class="mdui-col-xs-12
                    mdui-col-sm-10
                    mdui-col-md-8
                    mdui-col-lg-8">
            <div>
                    <div class="padding"></div>
                <div class="padding"></div>
                <div class="mdui-card opacity">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title mdui-text-center">中文委员会</div>
                        <div class="mdui-card-primary-subtitle mdui-text-center">Chinese Conf</div>
                    </div>
                    <div class="mdui-row-xs-1">
                        <div class="mdui-col">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzU4NDU5MzcyMw==&mid=100000361&idx=1&sn=9adb2d2daa962cdab035c2c378378d5c&chksm=7d963a3d4ae1b32b86c16b1d82f22ec2c20649988189430147720ca42dd205382075581e92bc#rd" target="_blank" class="mdui-btn mdui-btn-block mdui-ripple">01 联合国安全理事会</a>
                        </div>
                        <div class="mdui-col">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzU4NDU5MzcyMw==&mid=100000428&idx=1&sn=b00cf969fe6ea087649515fadd9c034c&chksm=7d963af84ae1b3eebaa2c5e8dac8fd70143c254856f22a28962950a15d7344e442963b230870#rd" target="_blank" class="mdui-btn mdui-btn-block mdui-ripple">02 历史安理会</a>
                        </div>
                        <div class="mdui-col">
                            <a href="https://mp.weixin.qq.com/s?__biz=MzU4NDU5MzcyMw==&mid=100000352&idx=1&sn=b97b32ce9a9dfbab423b68f654a5c67f&chksm=7d963a344ae1b3220fdbcdca6470d144a0a1c0300a12dc9bc01f9ef2a0122c6797ba2ed378cc#rd" target="_blank" class="mdui-btn mdui-btn-block mdui-ripple">03 1940大韩民国临时政府议政院会议</a>
                        </div>
                        <div class="mdui-col">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzU4NDU5MzcyMw==&mid=100000364&idx=1&sn=f19285afab3e1405fc8e3fd654d3d279&chksm=7d963a384ae1b32e92cfa38ca6d26082f3f72840aeddad3772ee78faa444022dcf421fc294eb#rd" target="_blank" class="mdui-btn mdui-btn-block mdui-ripple">04 民国国会</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>